    * {
    margin:0;
    padding:0;
    }

    ul {
    list-style-type:none;
    }

    body {
    font-size:12px
    font-family:"맑은 고딕","굴림","돋움";
    color:#444444;
    }

    .clear {
    clear:both;
    }